html {
  background-image: url("https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg");
  height: 100%;
  width: 100%;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: orange;
  text-align: center;
  justify-content: center;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  width: 215px;
}



.styles {
  background-color: cyan;
  border: 2px solid black;
  border-radius: 10px;
}

.container {
  background-color: #07ed07;
  text-align: center;
  justify-content: center;
  border: 3px solid green;
  padding: 5px;
  margin: 9px;
}

.text {
  text-align: center;
  color: white;
}

bg-radius {
  width: 100px;
  border: 2px solid white;
  border-radius: 50px;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.rightNav li {
  list-style: none;
  padding: 23px;

}

.rightNav li a {
  text-decoration: none;
  color: black;
}

.rightNav li a:hover {
  color: #f8f7f7;
}

.nav-list {
  background-color: black;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.rightNav {
  background-color: blue;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.bg-radius {
  border: 2px solid white;
  border-radius: 50px;
  width: 50px;
}



@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}